/*ABOUT ME CONINER*/
.about_me{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
}
.tittle{
    font-size: 36px;
    text-align: center;
    position: relative;
}
.about-info{
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
    margin: 50px;
}
.about-text{
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 500px;
    justify-content: center;
    gap: 20px;
    position: relative;
    text-align: justify;
}
.about-text h1{
    font-size: 24px;
}
.about_me img{
    height: 630px;
}
.about_button-container{
    width: 10px;
    background-color: white;
    text-align: center;
    justify-content: center;
}
.about_button-container a{
    color: black;
    text-align: center;
    border: 2px solid;
    border-radius: 10px;
    padding: 10px;
}
.about_button-container a:hover{
    color: rgb(85, 85, 85);
}