/*EVENTS CONTAINER*/
.events{
    display: flex;
    flex-direction: column;
    margin: auto;
}
.events-container{
    margin: 50px auto;
    display: flex;
    gap: 30px;
}
.events-container h2{
    font-size: 24px;
    text-align: center;
}
.events-container img{
    width: 351px;
    height: 530px;
}
.events_button-container{
    margin: 20px auto;
}
.events_button-container a{
    color: black;
    text-align: center;
    border: 2px solid;
    border-radius: 10px;
    padding: 10px;
}
.events_button-container a:hover{
    color: rgb(85, 85, 85);
}