/*CONTACT CONTAINER*/
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contact-container{
    padding: 20px;
    border-radius: 10px;
    border: 2px solid black;
    width: 320px;
    margin-top: 100px;
}
form{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
label{
    display: block;
    margin-top: 20px;
}
.whats{
    font-size: 13px;
}
input[type="text"], 
input[type="email"], 
input[type="tel"] {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
    
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    justify-content: center;
}
.radio-group {
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.radio-container{
    display: flex;
    align-content: center;
    justify-content: center;
    margin: auto;
}
.radio-group input {
    margin-right: 5px;
    margin-top: 20px;
}
.radio-group label{
    font-size: 11px;
}
.contact_button-container{
    margin:auto;
    margin-top: 20px;
}
.contact_button-container a{
    color: black;
    text-align: center;
    border: 2px solid;
    border-radius: 10px;
    padding: 10px;
}
.contact_button-container a:hover{
    color: rgb(85, 85, 85);
}